.body {
  height: 100vh;
  background-color: #db8c44;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
} */

.start button {
  width: 200px;
  height: 50px;
  margin: 5px;
  background-color: bisque;
  box-shadow: 5cm;
  font-family: cursive;
  font-size: 30px;
}

.start,
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
  margin: 0.5cm;
}

.wordAndMistakes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.word {
  width: 200px;
  height: 50px;
  margin: 5px;
  background-color: bisque;
  color: brown;
  box-shadow: 5cm;
  font-family: cursive;
  font-size: 30px;
  text-align: center;
}

.reset,
.hint {
  width: 200px;
  height: 50px;
  background-color: bisque;
  margin: 5px;
  box-shadow: 5cm;
  font-family: cursive;
  font-size: 30px;
}

.letters {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.guessLetter {
  display: flex;
  justify-content: center;
}

.guessLetter button {
  width: 70px;
  height: 70px;
  background-color: bisque;
  margin: 5px;
  font-family: cursive;
  font-size: 30px;
}

.firstPart {
  display: flex;

  justify-content: space-around;
}

.hangmanImage {
  display: flex;
  justify-content: center;
}

.underHangmanImage {
  display: flex;
}

.allTheButtonsFromTheFirstPart {
  display: flex;
  justify-content: space-between;
}

.wrongChoisesRow p {
  color: black;
  box-shadow: 5cm;
  font-family: cursive;
  font-size: 30px;
  text-align: center;
}

.wrongChoisesText {
  color: brown;
  background-color: bisque;
  box-shadow: 5cm;
  font-family: cursive;
  font-size: 30px;
  text-align: center;
}

.wrongChoisesText p {
  margin: 10px;
}

.wrongChoises {
  display: flex;
  text-align: center;
  align-content: center;
  flex-direction: column;
}

.topBar {
  background-color: bisque;
  display: flex;
  justify-content: space-around;
}

.score {
  font-family: cursive;
  font-size: 30px;
  color: brown;
}

.timer {
  font-family: cursive;
  font-size: 30px;
  color: brown;
}
